<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Acerca de</title>
    <!-- Importa en ESTE ORDEN -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/about.css') }}">
</head>
<body>
    <main class="about-content">
        <h1 class="about-title">Acerca de esta Academia</h1>
        <p>Creada para aprender paso a paso.</p>
        <a href="/" class="nav-button">Volver al inicio</a>
    </main>
</body>
</html