.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: rgba(3, 5, 14, 0.131);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav {
  display: flex;
  gap: 2rem;
}

.main-nav a {
  color: rgb(60, 60, 60);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.main-nav a:hover {
  text-decoration: underline;
  color: rgb(211, 216, 216);
}

.auth-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.auth-link {
  color: rgb(60, 60, 60);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.auth-link:hover {
  text-decoration: underline;
  color: rgb(211, 216, 216);
}

.user-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
/* header.css */
.auth-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background-color:rgba(3, 14, 57, 0.678);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.auth-link:hover {
  background-color: #6a757f;
}

.user-icon {
  width: 20px;
  height: 20px;
}