.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    background-color: rgba(169, 174, 204, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .main-nav {
    display: flex;
    gap: 2rem;
  }
  
  .main-nav a {
    color: rgb(236, 234, 234);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    transition: all 0.3s ease;
  }
  
  .main-nav a:hover {
    text-decoration: underline;
    color:rgb(22, 23, 23);
  }